body{
    background-image: url('https://th.bing.com/th/id/OIP.VUif_1_WT3162EjnU-ks6QHaHa?w=2000&h=2000&rs=1&pid=ImgDetMain');
    background-repeat: no-repeat;
}

.card-title{
    font-size: medium;
    font: weight 500px;
    color:brown;
}
